<div style="padding:0.5em; background-color:silver; margin: 0.5em;">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= comment.article.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

</div>