@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: rgb(18, 47, 66) !important;
}

.nav-link {
  color: white !important;
}
.content{
  background-color: rgb(108, 139, 201) !important 
}
#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
